# Ignore all .pt files
*.pt

# Ignore all subfolders in models/ but not the folder itself
debug/
runs/
yolo_dataset/
yolo_dataset2/
yolo_dataset3/
yolo_weights/
cleaned/
selected/
selected_safe/
bad/
*.json
*.db
*.zip
*.png